@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

/* Remove outline input when focused */
textarea:focus,
input:focus {
  outline: none;
}

/* Remove arrow input number when focused */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Splide customizations */
.splide__arrow {
  display: none !important;
}

.splide__pagination__page.is-active {
  background: #03ac0e !important;
}

.my-auto {
  margin: auto 0 !important;
}
